*{
    font-family: 'Instrument Sans', sans-serif;
    padding: 0;
    margin: 0;
    
}
html {
    scroll-behavior: smooth;
  }

body{
    min-width: 100%;
    min-height: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
}

.top{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

.top div{
    display: flex;
    justify-content:center;
    text-decoration: none;
}

.top div:nth-of-type(1){
    width:50%;
}


.top div:nth-of-type(2){
    width:50%;
}

.top div a{
    text-decoration: none;
    color: white;
    position: relative;
}

header{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

header div{
    width: 30%;
    display: flex;
    justify-content:center;

}

header nav{
    width: 40%;
    display: flex;
    justify-content:space-around;
}


  
.hover-underline-animation {
    display: inline-block;
    position: relative;
    cursor: pointer;

  }
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

main{
    width: 100%;
    min-height: 80vh;
}

.image{
    border-radius: 122px 18px 150px 0px;
    background-image: url("..//images/prezent-podarunek-prezenty.jpg");
    width: 70%;
    height: 110%;
    background-position: center;
    -webkit-box-shadow: 8px 8px 38px 15px rgba(255, 255, 255, 1);
    -moz-box-shadow: 8px 8px 38px 15px rgba(255, 255, 255, 1);
    box-shadow: 8px 8px 38px 15px rgb(97, 97, 97);
}

.main-image{
    width: 61%;
    display: flex;
    justify-content: flex-end;

}

main{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-about-us{
    width: 100%;
   
    
}

.main-container section{
    width: 39%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 1%;
    
}

.list{

    font-size: 120%;
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.menu{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    position: absolute;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: none;
    
}
.header-show{
    position: absolute;
    z-index: 4;
}
.show{
    display: flex;
}

.quest{
    font-size: 2rem;

    font-family: 'Pacifico', cursive;
}
.about-us-content{
    font-size: 115%;
}


.main-container{
    width: calc(100vw - (30vw - 186px));
    display: flex;
    justify-content: center;
}

.transparency{
    font-family: 'PT Serif', serif;
    font-size: 140%;
    color: rgba(0, 0, 0, 0.407);
}
.btn {
    text-decoration: none;
    
    color: white;
    padding: 12px 55px;
    font-size: larger;
    background-color: #0087ca;
    border-radius: 6px;
}

.btn:hover{
    background-color: #00aaff;
}
.icon-menu{
    display: none;
    cursor: pointer;

}

footer{
    width: 100%;
    height: 7vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
.info-container{
    width:100%;
    
    display:flex;
    justify-content:center;
    align-items: center;
    overflow:visible;
    min-height:40vh;
    padding-top:0vh;
    padding-bottom:13vh;
    color: black;
}

.questions{
    width:40%;
    height:80%
}


.question{
    border-bottom:.5px solid gray;
    width:100%;
    color:black;
    padding-bottom:11px;
    padding-top:11px;
    cursor:pointer
}

.question-description{
    margin-top:35px;
    display:none;
    padding-left:18px;
    font-family: 'Instrument Sans', sans-serif;
}

.question-title{
    display:flex;
    align-items:center;
    font-size:116%;
    letter-spacing:.1rem;
    font-family: 'Nanum Gothic', sans-serif;
}

.quest1{
    width:90%;
    padding-left:18px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    font-size:1.45rem;

    font-family: 'Instrument Sans', sans-serif;
    
   
}
.quest2{
    width:10%;
    padding-right:18px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    overflow:hidden
}
.rotation{
    animation: rotation 0.2s linear;
}

.title{
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-bottom: 45px;
    margin-top: 85px;
}

.advantages{
    width: 100%;
    display: flex;
    justify-content: center;

}

.advantages-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.advantage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 80px;
    margin: 25px;
}

.advantage p{
    font-size: smaller;
}

#dd{
    background-position: center;

    height: 100%;
    width: 30%;
    background-image: url(../images/fotel.png);
}

.advantage div{
    padding-left: 8px;
}

.advantage div h1{
    margin: 5px;
}

.advantage div p{
    margin: 5px;
}

.przelewy24{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

footer a{
    margin: 5px;
    color: white;
}

nav a{
    text-decoration: none;
    color: black;
}

.list a{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(45deg);
    }
  }
@media only screen and (max-width:500px){

    .questions{
        width:90%
    }
}

@media only screen and (max-width:800px){

    .description{
        font-size:65%
    }
    .questions{
        width:80%
    }


    
}
@media only screen and (max-width: 950px) {
    .main-container{
        flex-direction: column;
        align-items: center;
    }

    .main-image{
        width: 100%;
        justify-content: center;
        width: 450px;
        height: 300px;
    }

    .main-container section{
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
        padding: 0;
    }

    .main-container section .main-about-us{
        padding: 25px;
    }
    .top div:nth-of-type(1){
        width: 100%;
        text-align: center;
    }   
    .top div:nth-of-type(2){
        display: none;
    }
    .icon-menu{
        display: block;
    }
    .hover-underline-animation{
        display: none;
    }
    header div{
        width: 50%;
        justify-content: center;
    }

    header nav{
        width: 50%;
        justify-content: center;
    }
    main{
        min-height: 120vh;
    }

    header div img{
        height: 40px;
    }
}

